<!--Goal to get 3 states of the cell working together: intake, display, projected. DONE-->
<!--Goal to connect the 3 states with the sin_reg.js file-->
<html>
<head>
	<meta charset="utf-8">
	<script src="./build/react.min.js"></script>
	<script src="./build/react-dom.min.js"></script>
	<script src="./build/browser.min.js"></script>
	<script src='sin_reg.js'></script>
	<script src='sin_reg.adapter.js'></script>
	<style>
		.goal-empty {
      margin-top: 10px;
      background-color: #FFFFFF;
      height: 20px;
      border-left: 1px solid black;
    }
    .goal-A {
      margin-top: 10px;
      background-color: #66ADD5;
      height: 20px;
      width: 26px;
    }
    .goal-A-intake {
      border: none;
      border-bottom: 1px solid #66ADD5;
      color: #66ADD5;
      display: block;
      margin-top: 10px;
      height: 19px;
      width: 20px; 
      padding: 0px;
    }
    .projected {
			opacity: 0.3
		}
	</style>
</head>
<body>
	<main id='container'></main>
	<script type='text/babel'>
		var App = React.createClass({
			getInitialState: function(){
				return {
					selected_radio_button: 'week',
					data: [1,0,1, 1,0,0,1, 0,0,0, 0,0,0,0, 0,0,0, 0,0,0,0],
					coefficients: {a0: null, a1: null, b0: null, b1: null, S: null},
					output: [0,0,0, 0,0,0,0]
				}
			},
			handleSubmit: function(){
				var data = this.state.data;
				var output = adaptSinRegToReact(
					data, 
					{getMLCoefficients: getMLCoefficients, printSinWeek: printSinWeek}, 
					this
				);
				//update child chart_cells
				output.map((item, index)=>{
					if(output[index]==1 && data[index]==0){
						var ref_name = 'chartcell'+index;
						this[ref_name].setState({view: 'projected', value: 1});
					}
				});
			},
			render: function(){
				return (
					<div>
						<button onClick={(e)=>{this.handleSubmit()}}>Submit</button>
						{this.state.data.map((item, index)=>{
							var ref_name='chartcell'+index;
							return <ChartCell 
								ref={(ref) => this[ref_name] = ref}
								data_index={index} 
								goal_style='goal-A' 
								selected_radio_button='quarter' 
								Menu={this}>{item}</ChartCell>	
						})}
		      </div>
				);	
			}
		});
		var ChartCell = React.createClass({
			getInitialState: function(){
		    var dummy_value = (this.props.children) ? this.props.children : 0;
		    return { 
		    	value: dummy_value,
		      view: 'show'
		    };
		  },
		  renderEmptyCell: function(base_value){
		  	return (<div 
	        className='goal-empty'
	        style={{'width': base_value+'px'}}
	        onClick={(event)=>{
	        	changeView('intake', this.props.selected_radio_button, this, this.props.Menu);
	        }.bind(this)}>
	        </div>
	      );
		  },
		  renderCellDisplay: function(base_value){
		  	var width_style = this.state.value*base_value+'px';
      	return (<div 
          className={this.props.goal_style}
          style={{'width': width_style}}
          onClick={(event)=>{
          	changeView('intake', this.props.selected_radio_button, this, this.props.Menu);
          }.bind(this)}>
         	</div>
        );
		  },
		  renderCellProjected: function(base_value){
		  	var width_style = this.state.value*base_value+'px';
		  	var class_name = this.props.goal_style+' '+'projected';
      	return (<div 
          className={class_name}
          style={{'width': width_style}}
          onClick={(event)=>{
          	changeView('intake', this.props.selected_radio_button, this, this.props.Menu);
          }.bind(this)}>
         	</div>
        );
		  },
		  renderCellIntake: function(base_value){
		  	return (<input 
          className={this.props.goal_style+'-intake'}
          type='text' 
          value={this.state.value} 
          onBlur={(event)=>{
          	changeView('show', this.props.selected_radio_button, this, this.props.Menu);
          }.bind(this)} 
          onChange={(event)=>{changeLength(event, this, this.props.Menu)}} 
          onKeyPress={(event)=>{
            if(event.charCode==13){
              changeView('show', this.props.selected_radio_button, this, this.props.Menu);
            }
          }.bind(this)} />);
		  },
			render: function(){
		    var base_value;
		    switch(this.props.selected_radio_button){
		      case 'week': 
		        base_value = 24;
		        break;      
		      case 'quarter':
		        base_value = 26;
		        break;
		      case 'year':
		        base_value = 89;
		        break;
		      default:
		        base_value = 20;
		    }
		    switch(this.state.view){
		      case 'show':
		        if(!this.state.value){
		          return this.renderEmptyCell(base_value);
		          break;
		        } else {
		          return this.renderCellDisplay(base_value);
			        break;  
		        }
		      case 'intake':
		        return this.renderCellIntake(base_value);
		        break;
		      case 'projected':
		      	return this.renderCellProjected(base_value);
		      	break;
		      default:
		      	return this.renderEmptyCell(base_value);
		    }
			}
		});
		ReactDOM.render(<App />, document.getElementById('container'));
	</script>
	<script>
		function changeView(new_view, selected_radio_button, cell_component, menu_component){
	    switch(selected_radio_button){
	  		case 'week':
	  			cell_component.setState({view: new_view});	
	  			break;
	  		/*case 'quarter':
	  			cell_component.setState({selected_radio_button: 'week'}).bind(menu_component);
	  			break;
	  		case 'year':
	  			cell_component.setState({selected_radio_button: 'quarter'}).bind(menu_component);
	  			break;*/
	  		default:
	  			cell_component.setState({view: new_view});	
	  			break;
 			}
 		}
 		function changeLength(event, cell_component, menu_component){
	  	var value = event.target.value;
	  	var data = menu_component.state.data;
	  	var data_index = cell_component.props.data_index;
	  	cell_component.setState({value: value});
	  	if(value>0){
	  		data[data_index] = 1;
	  		
	  	} else {
	  		data[data_index] = 0;
	  	}
	  	menu_component.setState({data: data});	
		}
 	
	</script>
	<script>
		var sin_reg = new sin_reg();
		var printSinWeek = sin_reg.printSinWeek;
		var getMLCoefficients = sin_reg.getMLCoefficients;
	</script>
</body>
</html>